{% extends 'base.html' %}
{% block title %} - Reset Password{% endblock %}
{% block content %}
<div class="auth">
  <div class="card">
    <h1>Choose a new password</h1>
    <form method="post">
      {{ form.hidden_tag() }}
      <p>{{ form.password.label }}<br>{{ form.password(class_='input', placeholder='New password') }}</p>
      <p>{{ form.confirm.label }}<br>{{ form.confirm(class_='input', placeholder='Confirm new password') }}</p>
      <p>{{ form.submit(class_='btn') }}</p>
    </form>
  </div>
</div>
{% endblock %}